@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

body {
  padding: 0%;
  margin: 0%;
  width: 100%;
  font-family: Montserrat;
  font-weight: 600;
  font-style: bold;
  height: auto;
  background-color: #f5f6fa;
}
.panel-bg {
  margin: 7% 7.5%;
  width: 85vw;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
}
